[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
jsonfy = "*"
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.11"
